modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Discord Bot"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "discord_bot"

[[workflows.workflow]]
name = "Discord Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pip install discord.py aiofiles && python main.py"

[[workflows.workflow]]
name = "discord_bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pip install discord.py aiofiles && python main.py"

[[ports]]
localPort = 2449
externalPort = 9000

[[ports]]
localPort = 2838
externalPort = 6000

[[ports]]
localPort = 3363
externalPort = 4200

[[ports]]
localPort = 3481
externalPort = 8000

[[ports]]
localPort = 3540
externalPort = 80

[[ports]]
localPort = 4051
externalPort = 3003

[[ports]]
localPort = 4357
externalPort = 5000

[[ports]]
localPort = 4447
externalPort = 8099

[[ports]]
localPort = 4702
externalPort = 5173

[[ports]]
localPort = 4745
externalPort = 3002

[[ports]]
localPort = 4888
externalPort = 3001

[[ports]]
localPort = 5090
externalPort = 8081

[[ports]]
localPort = 5155
externalPort = 8008

[[ports]]
localPort = 5525
externalPort = 8080

[[ports]]
localPort = 8151
externalPort = 6800

[[ports]]
localPort = 8575
externalPort = 3000
